$primaryColor: #df810d;
$accentColorDark: #002350;
$accentColorLight: #2070c3;
$fontColorLight: #fcfcfc;

@mixin primaryFont($size, $color) {
    font-family: 'Muli', sans-serif;
    color: $color;
    font-size: $size;
}

@mixin secondaryFont($size, $color) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

ul, li {
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.visuallyhidden:not(:focus):not(:active) {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

// typography styles

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
    margin: 0;
}

// layout styles

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}



