header {
    background: url('assets/header-background.png') no-repeat center center;
    background-size: cover;
    height: 75vh;
    text-align: center;
}

.heading {
    @include primaryFont(2rem, #ACACAC);
    text-transform: capitalize;
    margin: -35px 20px 0 0;
}

.logo {
    width: 400px;
}

@media (max-width: 768px) {
    
}