nav {
    color: black;
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}

.nav-btn {
    text-transform: uppercase;
    float: right;
    @include primaryFont(1.8rem, $accentColorDark);
    padding: 7px 13px;
    margin-top: 20px;
    border: solid 3px $accentColorDark;
    margin-left: 10px;
    border-radius: 5px;
}

.nav-btn:hover {
    border: 3px solid $accentColorLight;
    color: $accentColorLight;
}

@media (max-width: 768px) {
  .nav-btn {
      margin-bottom: 30px;
  }  
}