.submission-card {
    width: calc((100% - 60px) / 3);
    height: 330px;
    margin: 15px 15px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;  
    border-radius: 8px;
    border: 2px solid #E6E6E6;
    position: relative;

    &__img {
        width: 100%;
        height: 10vw;
        object-fit: cover;
        display: none;

    }

    &__title {
        @include secondaryFont(2.3rem, $accentColorDark);
        padding: 25px 0 15px 0;
    }

    &__desc {
        @include primaryFont(1.6rem, #666666)
    }

    &__btn,
    &__likes {
        float: right;
    }

    &__likes {
        padding-top: 12px;
        font-size: 2.5rem;
        padding-right: 5px;
        color: #fcfcfc;
    }

    &__mood {
        @include primaryFont(1.6rem, $primaryColor);
        text-transform: capitalize;
        text-decoration: underline;
        position: absolute;
        top: 10px;
        left: 15px;
    }
}

.thumb-img {
    width: 50px;
    height: 50px;
    padding: 10px 15px 10px 0;
    pointer-events: none;
}

.content-container {
    padding: 15px;
}

.likes-container {
    background: $accentColorDark;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.submission-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.submission-card:nth-child(3n + 1) {
    margin-left: 0;
}

.submission-card:nth-child( 3n + 3 ) {
    margin-right: 0;
}



button, input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media(max-width: 768px) {
   .submission-card,
   .submission-card:nth-child(3n + 1),
   .submission-card:nth-child(3n + 3) {
        width: calc((100% - 30px) / 2);
        margin: 15px 15px;
   } 

   .submission-card:nth-child(2n + 1) {
        margin-left: 0;
    }

    .submission-card:nth-child( 2n + 2 ) {
        margin-right: 0px;
    }
}

@media(max-width: 540px) {
    .submission-card,
    .submission-card:nth-child(3n + 1),
    .submission-card:nth-child(3n + 3) {
        width: 100%;
        margin: 15px 0px;
   } 

   .submission-card:nth-child(2n + 1) {
        margin-left: 0;
    }

    .submission-card:nth-child( 2n + 2 ) {
        margin-right: 0px;
    }
}