article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%; }

.submission-card {
  width: calc((100% - 60px) / 3);
  height: 330px;
  margin: 15px 15px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
  border: 2px solid #E6E6E6;
  position: relative; }
  .submission-card__img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    display: none; }
  .submission-card__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    color: #002350;
    padding: 25px 0 15px 0; }
  .submission-card__desc {
    font-family: 'Muli', sans-serif;
    color: #666666;
    font-size: 1.6rem; }
  .submission-card__btn, .submission-card__likes {
    float: right; }
  .submission-card__likes {
    padding-top: 12px;
    font-size: 2.5rem;
    padding-right: 5px;
    color: #fcfcfc; }
  .submission-card__mood {
    font-family: 'Muli', sans-serif;
    color: #df810d;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: underline;
    position: absolute;
    top: 10px;
    left: 15px; }

.thumb-img {
  width: 50px;
  height: 50px;
  padding: 10px 15px 10px 0;
  pointer-events: none; }

.content-container {
  padding: 15px; }

.likes-container {
  background: #002350;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 8px 8px; }

.submission-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.submission-card:nth-child(3n + 1) {
  margin-left: 0; }

.submission-card:nth-child(3n + 3) {
  margin-right: 0; }

button, input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

@media (max-width: 768px) {
  .submission-card,
  .submission-card:nth-child(3n + 1),
  .submission-card:nth-child(3n + 3) {
    width: calc((100% - 30px) / 2);
    margin: 15px 15px; }
  .submission-card:nth-child(2n + 1) {
    margin-left: 0; }
  .submission-card:nth-child(2n + 2) {
    margin-right: 0px; } }

@media (max-width: 540px) {
  .submission-card,
  .submission-card:nth-child(3n + 1),
  .submission-card:nth-child(3n + 3) {
    width: 100%;
    margin: 15px 0px; }
  .submission-card:nth-child(2n + 1) {
    margin-left: 0; }
  .submission-card:nth-child(2n + 2) {
    margin-right: 0px; } }

header {
  background: url("assets/header-background.png") no-repeat center center;
  background-size: cover;
  height: 75vh;
  text-align: center; }

.heading {
  font-family: 'Muli', sans-serif;
  color: #ACACAC;
  font-size: 2rem;
  text-transform: capitalize;
  margin: -35px 20px 0 0; }

.logo {
  width: 400px; }

nav {
  color: black; }

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-top: 20px;
  margin-left: 10px; }

.nav-btn {
  text-transform: uppercase;
  float: right;
  font-family: 'Muli', sans-serif;
  color: #002350;
  font-size: 1.8rem;
  padding: 7px 13px;
  margin-top: 20px;
  border: solid 3px #002350;
  margin-left: 10px;
  border-radius: 5px; }

.nav-btn:hover {
  border: 3px solid #2070c3;
  color: #2070c3; }

@media (max-width: 768px) {
  .nav-btn {
    margin-bottom: 30px; } }

.moods-container {
  margin: 0 auto;
  text-align: center; }

.mood-btn-wrap {
  display: inline-block; }

.mood-btn {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  color: #002350;
  padding: 5px 20px 5px 20px;
  float: left;
  position: relative; }

.mood-btn:hover::before {
  content: '-';
  width: 50px;
  position: absolute;
  left: 0;
  top: 35px;
  color: #df810d; }

.main-form {
  position: relative; }

.form-container {
  background: #F2F2F2;
  border-radius: 8px;
  padding: 30px;
  max-width: 600px;
  width: 80%;
  margin: 0 auto 30px auto; }

.form-heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  color: #002350;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px; }

.form-title,
.form-description,
.form-mood,
.form-custom-mood {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #002350;
  padding-bottom: 5px; }

.form-title-input,
.form-description-input,
.form-mood-input,
.form-custom-input {
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  margin-bottom: 20px;
  width: 100%; }

.form-custom-input {
  width: 66%; }

.form-custom-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #002350;
  padding: 1.5px 20px;
  width: 30%;
  border: 2px solid #002350;
  margin-left: 4%;
  border-radius: 5px; }

.form-custom-btn:hover {
  border: 2px solid #2070c3;
  color: #2070c3; }

.main-form-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #fcfcfc;
  padding: 3px 20px;
  border: none;
  background: #002350;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px; }

.main-form-btn:hover {
  background: #2070c3; }

.toggle-img {
  float: right;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

@media (max-width: 768px) {
  .form-container {
    max-width: 600px;
    width: 100%; } }
